/* Footer */
.Footer {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  margin-top: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}

/* Line 7 */
.Line7 {
  width: 100%;
  height: 0;
  border: 1px solid #eeeeee;
}

/* Frame 816910 */
.Frame816910_f {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 10px;
}

/* Frame 8169102 */
.Frame8169102_f {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 320px;
  height: 30px;
}

/* Frame 81691023 */
.Frame81691023_f {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 320px;
  height: 30px;
}

/* Frame 816914 */
.Frame816914_f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 320px;
  height: 30px;
}

/* Frame 816909 */
.Frame816909_f {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 320px;
  height: 12px;
}

/* 이용약관 */
.child_f {
  width: 35px;
  height: 12px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.1px;
  color: #b8b7b7;
}

/* 개인정보처리방침 */
.child2_f {
  width: 69px;
  height: 12px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.1px;
  color: #b8b7b7;
}

/* Copyright */
.Copyright {
  width: 261px;
  height: 14px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #b8b7b7;
}

/* Frame 1000003054 */
.F1000003054_f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 200px;
  width: 100%;
  max-width: 1140px;
  height: 71px;
  margin: 56px auto;
  top: 60px;
}

/* 개발자 테스트용 */
.testing {
  width: 99px;
  height: 24px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* Frame 1000003056 */
.F1000003056_f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
  width: 283px;
  height: 71px;
}

/* 대표 홍길동 ㅣ 사업자 등록 번호 123-4567-890 */
.owner {
  width: 283px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* 서울특별시 가가동 나나로 111-2 8층 */
.seoul {
  width: 194px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* 통신 판매업 신고 제 2014-서울홍홍홍 0291호 */
.addr {
  width: 251px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* Frame 1000003057 */
.F1000003057_f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
  width: 203px;
  height: 71px;
}

/* 고객지원 111-2345 */
.number_f {
  width: 107px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* 이메일 help@gmail.com */
.email_f {
  width: 138px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}

/* 평일 09:00 - 17:00 토,일 공휴일 휴무 */
.time_f {
  width: 203px;
  height: 21px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #000000;
}
