/* 회원가입 */
.signin_s {
  position: relative;
  width: 1920px;
  height: 1129px;

  /* #White/white */
  background: #ffffff;
}

/* Frame 1000004037 */
.F1000004037_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: 0px;
  width: 1920px;
  height: 1129px;
  left: 0px;
  top: 0px;
}

/* Frame 1000004036 */
.F1000004036_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 200px 768px;
  gap: 10px;

  width: 384px;
  height: 311px;

  /* #White/white */
  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Frame 1000003413 */
.F1000003413_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 60px;

  width: 384px;
  height: 711px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* 로그인 */
.login_s {
  width: 110px;
  height: 48px;

  /* KOR/Bold_32px */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  letter-spacing: -0.3px;

  color: #040404;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Frame 1000004257 */
.F1000004257_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 384px;
  height: 495px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Frame 1000003410 */
.F1000003410_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 384px;
  height: 87px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Frame 1000004256 */
.F1000004256_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 41px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* 아이디 * */
.id_s {
  width: 41px;
  height: 24px;
  margin: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: -0.3px;

  /* #Black/black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Input */
.input_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 384px;
  height: 55px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* Auto layout text field */
.autoField_s {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  width: 384px;
  height: 55px;

  /* #White/white */
  background: #ffffff;
  /* #Grey/grey-200 */
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Auto layout for icon */
.autoIcon_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* ✍️ Placeholder */
.placeholder_s {
  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* Frame 1000004267 */
.F1000004267_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 384px;
  height: 150px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Frame 1000004255 */
.F1000004255_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 55px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* 비번 * */
.pw_s {
  width: 55px;
  height: 24px;
  margin: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: -0.3px;

  /* #Black/black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Input */
.input1_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 384px;
  height: 55px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* Auto layout text field */
.autoField1_s {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  width: 384px;
  height: 55px;

  /* #White/white */
  background: #ffffff;
  /* #Grey/grey-200 */
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Auto layout for icon */
.autoIcon1_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* ✍️ Placeholder */
.placeholder1_s {
  width: 296px;
  height: 27px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  display: flex;
  align-items: center;
  letter-spacing: -0.003em;

  /* #Grey/grey-500 */
  color: #808080;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* eye */
.eye_s {
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Vector */
.vector_s {
  position: 0px;
  left: 7.43%;
  right: 7.42%;
  top: 18.16%;
  bottom: 18.16%;

  /* #Grey/grey-300 */
  background: #cfcfcf;
}
/* Input */
.input2_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 384px;
  height: 55px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
/* Auto layout text field */
.autoField2_s {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  width: 384px;
  height: 55px;

  /* #White/white */
  background: #ffffff;
  /* #Grey/grey-200 */
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Auto layout for icon */
.autoIcon2_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* ✍️ Placeholder */
.placeholder2_s {
  width: 296px;
  height: 27px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  display: flex;
  align-items: center;
  letter-spacing: -0.003em;

  /* #Grey/grey-500 */
  color: #808080;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* eye */
.eye2_s {
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* Vector */
.vector2_s {
  position: 0px;
  left: 7.43%;
  right: 7.42%;
  top: 18.16%;
  bottom: 18.16%;

  /* #Grey/grey-300 */
  background: #cfcfcf;
}
/* Frame 1000004268 */
.F1000004268_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 384px;
  height: 87px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* Frame 1000004255 */
.F1000004255_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 41px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* 아이디 * */
.nickname_s {
  width: 41px;
  height: 24px;
  margin: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: -0.3px;

  /* #Black/black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Input */
.input3_l {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 384px;
  height: 55px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* Auto layout text field */
.autoField3_l {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  width: 384px;
  height: 55px;

  /* #White/white */
  background: #ffffff;
  /* #Grey/grey-200 */
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Auto layout for icon */
.autoIcon3_l {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* ✍️ Placeholder */
.placeholder3_l {
  width: 336px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* Frame 1000004266 */
.F1000004266_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;

  width: 336px;
  height: 35px;

  /* #Grey/grey-050 */
  background: #f9f9f9;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
/* Frame 816884 */
.Frame816884_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;

  width: 312px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Component 5 */
.Component5_s {
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Group 193 */
.Group193_s {
  position: 0px;
  width: 24px;
  height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Rectangle 197 */
.Rectangle197_s {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  position: 0px;

  /* #Black/black */
  background: #000000;
  border-radius: 5px;
}
/* Vector 2 */
.Vector2_s {
  position: 0px;
  left: 68.06%;
  right: -6.95%;
  top: 65.28%;
  bottom: 6.95%;

  border: 2px solid #ffffff;
  /* transform: rotate(180deg); */
}
/* 개인정보 처리방침 동의(필수) */
.agree_s {
  width: 260px;
  height: 24px;
  margin: 0px;

  /* KOR/Medium 16px */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: -0.3px;

  color: #505050;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* 개인정보 처리방침 동의(필수) */
.agree1_s {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 41px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* 개인정보 처리방침 동의(필수) */
.agree2_s {
  width: 41px;
  height: 27px;
  margin: 0px;

  /* KOR/Regular_16px */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  letter-spacing: -0.003em;

  color: #9a9a9a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* Frame 1000004325 */
.F1000004325_s {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 40px;
  gap: 10px;

  width: 142px;
  height: 48px;

  /* #Black/black */
  background: #000000;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* Content */
.Content_s {
  /* Auto layout */

  padding: 5px auto;
  gap: 8px;

  width: 62px;
  height: 24px;

  /* Inside auto layout */
}
/* ButtonText */
.ButtonText_s {
  width: 62px;
  height: 24px;
  margin: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: -0.1px;

  /* #White/white */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
